$mainPurple: #635FC7;
$lightPurpleTransp: rgba(99, 95, 199, 0.1);
$mediumPurpleTransp: rgba(99, 95, 199, 0.35);
$mediumPurpleTransp2: rgba(99, 95, 199, 0.25);
$mainPurpleHover: #A8A4FF;
$black: #000112;
$darkBg: #20212C;
$darkGrey: #2B2C37;
$darkLines: #3E3F4E;
$mediumGrey: #828FA3;
$mediumGreyTransp: rgba(130, 143, 163, 0.25);
$lightLines: #E4EBFA;
$lightBg: #F4F7FD;
$white: #FFFFFF;
$whiteTransp: rgba(255, 255, 255, 0.25);
$whiteTransp2: rgba(255, 255, 255, 0.5);
$mainRed: #EA5555;
$mainRedHover: #FF9898;

