*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --mainPurple: #635FC7;
  --lightPurpleTransp: rgba(99, 95, 199, 0.1);
  --mediumPurpleTransp: rgba(99, 95, 199, 0.35);
  --mediumPurpleTransp2: rgba(99, 95, 199, 0.25);
  --mainPurpleHover: #A8A4FF;
  --black: #000112;
  --darkBg: #20212C;
  --darkGrey: #2B2C37;
  --darkLines: #3E3F4E;
  --mediumGrey: #828FA3;
  --mediumGreyTransp: rgba(130, 143, 163, 0.25);
  --lightLines: #E4EBFA;
  --lightBg: #F4F7FD;
  --white: #FFFFFF;
  --whiteTransp: rgba(255, 255, 255, 0.25);
  --whiteTransp2: rgba(255, 255, 255, 0.5);
  --mainRed: #EA5555;
  --mainRedHover: #FF9898;
  --headingXL: bold 24px/30px Plus Jakarta Sans, sans-serif;
  --headingL: bold 18px/23px Plus Jakarta Sans, sans-serif;
  --headingM: bold 15px/19px Plus Jakarta Sans, sans-serif;
  
}

[data-theme='light']{
  --bg: var(--lightBg);
  --buttonSecondaryBg: var(--lightPurpleTransp);
  --buttonSecondaryBgHover: var(--mediumPurpleTransp);
  --textFieldBorder: var(--mediumGreyTransp);
  --textFieldIdle: rgba(0, 1, 18, 0.25);
  --textFieldActive: var(--black);
  --textFieldError: var(--mainRed);
  --dropdownFieldIdle: var(--mediumGreyTransp);
  --dropdownFieldActive: var(--mainPurple);
  --dropdownFieldText: var(--black);
  --dropdownListBg: var(--white);
  --dropdownListText: var(--mediumGrey);
  --checkboxBgIdle: var(--lightBg);
  --checkboxBgHover: var(--mediumPurpleTransp2);
  --checkboxTextCompleted: rgba(0, 1, 18, 0.5);
  --checkboxCompleted: var(--mainPurple);
  --border: var(--lightLines);
  --sidebarBg: var(--white);
  --boardListHover: var(--lightPurpleTransp);
}

[data-theme='dark']{
  --bg: var(--darkBg);
  --buttonSecondaryBg: var(--white);
  --buttonSecondaryBgHover: var(--white);
  --textFieldBorder: var(--mediumPurpleTransp2);
  --textFieldIdle: rgba(255, 255, 255, 0.25);
  --textFieldActive: var(--white);
  --textFieldError: var(--mainRed);
  --dropdownFieldIdle: var(--mediumGreyTransp);
  --dropdownFieldActive: var(--mainPurple);
  --dropdownFieldText: var(--white);
  --dropdownListBg: var(--darkBg);
  --dropdownListText: var(--mediumGrey);
  --checkboxBgIdle: var(--darkBg);
  --checkboxBgHover: var(--mediumPurpleTransp2);
  --checkboxTextCompleted: rgba(255, 255, 255, 0.5);
  --checkboxCompleted: var(--mainPurple);
  --border: var(--darkLines);
  --sidebarBg: var(--darkGrey);
  --boardListHover: var(--white);
}

body{
  margin: 0;
  padding: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  box-sizing: border-box;
}

html{
  padding: 0;
  margin: 0;
  
}

.app{
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  
}

.heading {
  &-XL{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--black);
  }
  &-L{
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    color: var(--black);
  }
  &-M{
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    color: var(--black);
  }
  &-S{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
    color: var(--mediumGrey);
    font-weight: 700;
  }
}

.paragraph{
  &-default{
    font-size: 13px;
    line-height: 23px;
    font-weight: 500;
  }
  &-accent{
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
  }
}

button{
  border: none;
  transition: 0.5s;
}

// .button{
//   &-primary-L{
//     font: var(--headingM);
//     padding: 15px 60px;
//     background-color: var(--mainPurple);
//     border-radius: 24px;
//     color: var(--white);
//     &:hover{
//       background-color: var(--mainPurpleHover);
//     }
//   }
//   &-primary-S{
//     font: bold 13px/23px Plus Jakarta Sans, sans-serif;
//     padding: 10px 60px;
//     background-color: var(--mainPurple);
//     border-radius: 20px;
//     color: var(--white);
//     &:hover{
//       background-color: var(--mainPurpleHover);
//     }
    
//   }
//   &-secondary{
//     font: bold 13px/23px Plus Jakarta Sans, sans-serif;
//     padding: 10px 60px;
//     background-color: var(--buttonSecondaryBg);
//     border-radius: 20px;
//     color: var(--mainPurple);
//     &:hover{
//       background-color: var(--buttonSecondaryBgHover);
//     }
//   }
//   &-destructive{
//     font: bold 13px/23px Plus Jakarta Sans, sans-serif;
//     padding: 10px 60px;
//     background-color: var(--mainRed);
//     border-radius: 20px;
//     color: var(--white);
//     &:hover{
//       background-color: var(--mainRedHover);
//     }
//   }
// }

.modal{
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 1, 18, 0.5);
}

.modal-content{
  background-color: var(--dropdownListBg);
  
}

.logo {
  position: fixed;
  z-index: 3;
  width: 300px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 110px;
  background-color: var(--sidebarBg);
  height: 97px;
  border-bottom: 1px solid var(--sidebarBg);
  border-right: 1px solid var(--border);
  img{
    width: 100%;
  }
  &-alt{
    border-bottom: 1px solid var(--border);
  }
}



.header{
  height: 97px;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: var(--sidebarBg);
  border-bottom: 1px solid var(--border);
}

.sidebar{
  margin-top: 97px;
  z-index: 1;
  &-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  @media screen and (max-width: 600px) {
    background-color: red;
  }
  @media screen and (min-width: 601px) {
    width: 300px;
    border-right: 1px solid var(--border);
    background-color: var(--sidebarBg);
    height: calc(100vh - 97px);
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.toggle-container{
  width: 250px;
  background-color: var(--bg);
  border-radius: 5px;
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.toggle{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  &-slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mainPurple);
    border-radius: 10px;
    &::before{
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      border-radius: 100%;
    }
  }
  input:checked + .toggle-slider {
    &::before{
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
      transform: translateX(17px);
    }
  }
}



.dashboard{
  width: 100%;
  height: calc(100vh - 97px);
  z-index: 0;
  background-color: var(--bg);
}

.board-list{
  list-style: none;
  padding-left: 0;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  &-header{
    text-transform: uppercase;
    padding-left: 20px;
  }
  &-item{
    padding: 15px 0px 15px 20px;
    border-radius: 0px 35px 35px 0px;
    &--active{
      background-color: var(--mainPurple);
      color: var(--white);
    }
    &--inactive{
      color: var(--mediumGrey);
      &:hover{
        background-color: var(--boardListHover);
        color: var(--mainPurple)
      }
    }
    &--new{
      color: var(--mainPurple)
    }
  }
}

.select-board-toggle{
  @media screen and (min-width: 601px) {
    display: none;
  }
}

.sidebar-show-button{
  @media screen and (max-width: 600px) {
    display: none;
  }
}